.layout {
    height: 600px;
}

.layout-nav ul {
    background:#7f86ce;
    display: flex;
    height: 100px;
    list-style: none;
    justify-content: center;
    align-items: center;
    font-family: Vegur, 'PT Sans', Verdana, sans-serif;
}

.layout-nav ul li~li {
    margin-left: 10px;
}

.layout-nav ul li a {
    color: white;
    text-decoration: none;
}

.layout-content {
    height: 50px;
    background:#ffbddc;
    color:#ac101d;
    text-align: center;
    line-height: 50px;
    font-family: Vegur, 'PT Sans', Verdana, sans-serif;
}

.layout-footer {
    height: 40px;
    background:#bd9bc2;
    margin-top: 10px;
    text-align: center;
    line-height: 40px;
    font-family: Vegur, 'PT Sans', Verdana, sans-serif;
}

.header {
    padding: 10px;
    background: #edf2f4;
    border-bottom: 1px solid #999;
}

.content {
    padding: 20px;
}

.header a {
    color: #0072ff;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 5px;
}

.header a:hover {
    color: #8a0f53;
}

.header .active {
    color: #2c7613;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}